

<div class="container">

  <br><br>
  <div class="row">
    <h3>Sign Up</h3>
    <form name="registerForm" class="col s12 m8 l7" ng-submit="registerForm.$valid && sendRegister(register)">
      <div class="error" type="danger" ng-show="error">
        {{ error }}
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="first_name">First Name</label>
          <input ng-model="register.firstName" type="text" class="validate" required>
        </div>
        <div class="input-field col s6">
          <label for="last_name">Last Name</label>
          <input ng-model="register.lastName" type="text" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="email" data-error="Invalid Email">Email</label>
          <input ng-model="register.email" type="email" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Username</label>
          <input ng-model="register.username" type="text" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="password">Password</label>
          <input ng-model="register.password" type="password" class="validate" required>
        </div>
      </div>
      <button type="submit" class="btn waves-effect waves-light ">Submit</button>
    </form>
  </div>
</div>